.del {
  background: #2B7a78;
  color: #feffff;
  border: 1px solid #17252A;
  /* padding: 5px 9px; */
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.todo {
  background: #def2f1;
  padding: 10px;
  border-bottom: 1px #17252A dotted;
}

.is-complete {
  text-decoration: line-through;
  color: #17252A;
}
