.addtodo {
  padding: 5px;
  padding-left: 10px;
  background-color: #def2f1;
  /* border-left: 1px solid #333;
  border-right: 1px solid #333; */
  border-bottom: 1px dotted #17252a;

}

.submitbtn {
  background: #feffff;
  color: #17252a;
  border: 1px solid #17252a;
  margin: 0px 0px 0px 20px;
  border-radius: 5px;
  cursor: pointer;
  /* float: right; */
}

