<div>
  <ul>
    <li>

    </li>
  </ul>
</div>

<p>
  This project began with the tutorial at <a href="https://www.youtube.com/watch?v=Fdf5aTYRW0E&t=2390s" target="_blank">https://www.youtube.com/watch?v=Fdf5aTYRW0E&t=2390s</a>.
  Originally, this projects connected to the JSON as <a href="https://jsonplaceholder.typicode.com/todos" target="_blank">https://jsonplaceholder.typicode.com/todos</a>. I removed the dummy data and added Express and MongoDB to make this application full stack MEAN. The github for this project is at <a href="https://github.com/SalvatoreSantamaria/angulartodolistfullstack" target="_blank">https://github.com/SalvatoreSantamaria/angulartodolistfullstack</a>.
</p>
