<div>
  <p>This fullstack project uses the following technologies:</p>
  <ul>
    <li>MongoDB</li>
    <li>Express</li>
    <li>Angular</li>
    <li>Node</li>
    <li>Bootstrap</li>
    <li>Deployed with AWS EC2</li>
  </ul>
</div>

<p>
  This project began by following the tutorial by Brad Traversy at <a href="https://www.youtube.com/watch?v=Fdf5aTYRW0E&t=2390s" target="_blank">https://www.youtube.com/watch?v=Fdf5aTYRW0E&t=2390s</a>.
  Originally, this projects connected to the placeholder JSON as <a href="https://jsonplaceholder.typicode.com/todos" target="_blank">https://jsonplaceholder.typicode.com/todos</a>. I removed the dummy data and added Express and MongoDB to make this application full stack MEAN. I have also added bootstrap and edited the CSS for stylepoints. The github for this project is at <a href="https://github.com/SalvatoreSantamaria/angulartodolistfullstack" target="_blank">https://github.com/SalvatoreSantamaria/angulartodolistfullstack</a>.
</p>

<p>
  Please visit my website, <a href="http://www.salvatoresantamaria.com" target="_blank">www.salvatoresantamaria.com</a>.
</p>
